form{
    position: absolute;
    padding: 2em;
    width:30em;
    height:25em;
}
input,label,button{    
    padding: 1em;
    margin: 0.25em;    
}

button{
    background-color: rgb(128, 123, 123);
    position: relative;
    left:250px;
    top:110px;
    width:6em;
    margin: 1em;
    padding: 1em;
}


.nomeform{    
    position:absolute;
    left:5px;
    top:9px;
    width:6em;
    margin: 1em;
    padding: 1em;
}
.emailform{    
    position:absolute;
    left:5px;
    top:50px;
    width:6em;
    margin: 1em;
    padding: 1em;
}
.senhaform{    
    position:absolute;
    left:5px;
    top:100px;
    width:6em;
    margin: 1em;
    padding: 1em;
}
.inputnome{   
    position:absolute;
    left:155px;
    top:9px;
    width:16em;
    margin: 1em;
    padding: 1em;
    
}
.inputemail{      
    position:absolute;
    left:155px;
    top:60px;
    width:16em;
    margin: 1em;
    padding: 1em;
}
.inputsenha{         
    position:absolute;
    left:155px;
    top:110px;
    width:16em;
    margin: 1em;
    padding: 1em;
}

